/**
* @name Animcord
* @author malasangre
* @description Make discord more responsive and fluid with simple animations
* @source https://github.com/tiredmala/animcord
* @authorId 699552486360612954
* @version 0.1
*/

@import url("https://tiredmala.github.io/animcord/animcordmain.css");
